/* Reset de margens e preenchimentos */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos gerais para o corpo da página */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* Estilos para o cabeçalho */
.header {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 82, 204, 0);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 2;
}

/* Estilos para o logotipo */
.logo img {
    max-width: 272px;
    max-height: 100%;
    margin-right: 10px;
}

/* Estilos para o menu de navegação */
nav ul {
    list-style: none;
    display: flex;
    margin-top: -9px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    border: none;
}

nav ul li a:hover {
    color: #99c2ff;
}

/* Estilos para a seção principal */
main {
    padding: 40px;
}

/* Estilos para a seção de imagem */
.image-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.image-section img {
    width: 100%;
    max-height: 62vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para a sobreposição sobre a imagem */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Ajustes para a caixa de busca */
nav ul li.search-box {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: -5px;
}

nav ul li.search-box input[type="text"] {
    border: none;
    padding: 8px;
    border-radius: 20px;
    background-color: #f2f2f2;
    color: #333;
    transition: background-color 0.3s ease;
    width: 150px;
    font-size: 16px;
}

nav ul li.search-box input[type="text"]:focus {
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

/* Ajustes para o Suporte */
.support-icon {
    position: fixed; /* Mantém o ícone fixo na tela */
    bottom: 20px; /* Distância do fundo */
    right: 20px; /* Distância da direita */
    background-color: #00bcd4; /* Cor de fundo do ícone */
    width: 50px; /* Largura do ícone */
    height: 50px; /* Altura do ícone */
    border-radius: 50%; /* Deixa o ícone circular */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Garante que o ícone apareça acima de outros elementos */
    cursor: pointer; /* Mostra um cursor de mão quando o ícone é clicado */
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

.support-icon:hover {
    transform: scale(1.1); /* Aumenta ligeiramente o tamanho do ícone quando o mouse passa sobre ele */
}

.support-icon i {
    color: white; /* Cor do ícone */
    font-size: 24px; /* Tamanho do ícone */
    transition: transform 0.3s ease; /* Adiciona uma transição suave ao ícone */
}

.support-icon i:hover {
    transform: rotate(15deg); /* Rotaciona ligeiramente o ícone quando o mouse passa sobre ele */
}

/* Animação de fundo em movimento */
@keyframes move-background {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/* Estilos para o novo banner */
.new-banner {
    background-color: #fff;
    padding: 20px;
    margin-top: 283px;
    margin-bottom: -110px;
}

.new-banner ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.new-banner li {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a.botao-veja-mais {
    display: inline-block;
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 5px 10px; /* Espaçamento interno do botão */
    border-radius: 5px; /* Borda arredondada */
    text-decoration: none; /* Remova a decoração de texto padrão */
    font-size: 14px; /* Tamanho da fonte */
    margin-top: 5px; /* Espaço superior para separar do título */
    margin-right: 90px; /* Margem direita de 10 pixels */
}

/* Estilo ao passar o mouse sobre o link "Veja Mais" */
a.botao-veja-mais:hover {
    background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
}

/* Estilo para o link (a) dentro do item da lista */
li a {
    color: #333;
    text-decoration: none; /* Remover sublinhado padrão */
    display: block; /* Fazer com que o link ocupe todo o espaço disponível */
    padding: 10px; /* Espaçamento interno para melhorar a acessibilidade */
    border-radius: 5px; /* Arredondar as bordas */
    transition: background-color 0.2s; /* Efeito de transição para a cor de fundo */
}

.new-banner li a i {
    font-size: 48px;
    margin-bottom: 10px;
}

.new-banner li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Adicione isso ao seu arquivo CSS */
.small-image {
    width: 80px; /* Defina a largura desejada */
    height: auto; /* Mantenha a proporção */
}

/* Estilos para o banner de notícias moderno */
.modern-news-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    color: #000;
    text-align: center;
    padding: 20px;
    margin-top: 110px; /* Altere o valor aqui para mover o banner para baixo */
    margin-bottom: -120px;
}

.modern-news-banner h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.modern-news-banner .news-section {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.modern-news-banner .video-section {
    flex: 1;
}

.modern-news-banner ul {
    list-style: none;
    padding: 0;
}

.modern-news-banner li {
    margin-bottom: 20px;
}

.modern-news-banner .news-content a,
.modern-news-banner .news-content p {
    border: none;
}

/* Estilos para telas menores (exemplo) */
@media screen and (max-width: 768px) {
    .modern-news-banner {
        flex-direction: column;
        text-align: center;
    }

    .modern-news-banner .news-item {
        flex-direction: column;
    }

    .modern-news-banner .news-item img {
        max-width: 100%;
        margin-right: 0;
    }
}

/* Estilos para telas menores (exemplo) */
@media screen and (max-width: 768px) {
    .header {
        font-size: 18px;
    }

    /* Outros estilos para telas menores aqui */
}

/* Estilos para telas com largura máxima de 480px */
@media screen and (max-width: 480px) {
    .header {
        font-size: 16px;
    }

    /* Outros estilos para telas ainda menores aqui */
}

/* Estilos para o novo banner (agora chamado event-banner) */
.event-banner {
    background-color: #fff;
    padding: 20px;
    margin-top: 105px;
    margin-bottom: -110px;
}

.event-banner ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.event-banner li {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilos para o calendário de eventos */
.event-calendar {
    background-color: #fff;
    padding: 20px;
    margin-top: 90px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-calendar h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.event-calendar ul {
    list-style: none;
    padding: 0;
}

.event-calendar li {
    margin-bottom: 20px;
}

.event-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.event-item img {
    max-width: 100px;
    margin-right: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.event-details {
    flex: 1;
    text-align: left;
}

.event-details h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.event-details p {
    margin: 5px 0;
}

.event-details a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.event-details a:hover {
    text-decoration: underline;
}


/* Estilo para o link (a) dentro do item da lista */
.modern-news-banner li a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.2s;
    margin-right: -5px; /* Adicione esta linha */
}

.modern-news-banner li a:hover {
    background-color: #99c2ff;
}

.modern-news-banner .news-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc; /* Adiciona uma borda sólida */
    border-radius: 5px; /* Borda arredondada */
    padding: 10px; /* Espaçamento interno para o conteúdo da notícia */
}

.modern-news-banner .news-item img {
    max-width: 100px;
    margin-right: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

/* Estilização básica do footer */
.footer {
    background-color: #2C3E50; /* Cor de fundo do footer */
    color: #fff; /* Cor do texto no footer */
    padding: 30px 0; /* Reduce the top and bottom padding for a smaller banner */
    text-align: center; /* Centraliza o conteúdo do footer */
    margin-top: 110px;
    margin-bottom: -110px;
}

/* Estilização para o container dentro do footer */
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Estilização para as colunas do footer */
.footer-contact,
.footer-links,
.footer-social,
.footer-copyright {
    flex-basis: calc(25% - 30px);
    padding: 0 15px;
}

/* Estilização para os títulos das colunas */
.footer h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #f39c12; /* Cor do título */
    display: inline-block;
    width: 100%; /* Set the width to 100% to make titles centered */
    text-align: center; /* Center-align the titles */
}

/* Estilização básica do footer */
.footer {
    background-color: #2C3E50; /* Cor de fundo do footer */
    color: #fff; /* Cor do texto no footer */
    padding: 30px 0; /* Reduz o preenchimento superior e inferior para um banner menor */
    text-align: center; /* Centraliza o conteúdo do footer */
    margin-top: 50px; /* Reduz a margem superior para um espaço mais compacto */
    margin-bottom: 0; /* Remove a margem inferior para um alinhamento mais limpo */
    margin-top: 110px;
    margin-bottom: -110px;
}

/* Estilização para o container dentro do footer */
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Estilização para as colunas do footer */
.footer-contact,
.footer-links,
.footer-social,
.footer-copyright {
    flex-basis: calc(25% - 30px);
    padding: 0 15px;
    text-align: center; /* Centraliza o texto horizontalmente */
}

/* Estilização para os títulos das colunas */
.footer h3 {
    font-size: 20px; /* Reduz ligeiramente o tamanho do título */
    margin-bottom: 15px;
    color: #f39c12; /* Mantém a cor do título */
    text-align: center; /* Centraliza o texto horizontalmente */
}

/* Estilização para os links dentro das colunas */
.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #fff; /* Mantém a cor dos links */
    text-decoration: none;
    font-size: 16px;
    display: block; /* Faz com que os links ocupem todo o espaço disponível */
    padding: 5px 0; /* Reduz o espaçamento interno para melhorar a acessibilidade */
    transition: background-color 0.2s; /* Efeito de transição para a cor de fundo */
}

.footer ul li a:hover {
    text-decoration: underline;
}

/* Estilização para os ícones de redes sociais */
.footer-social ul {
    list-style: none;
    padding: 0;
    text-align: center; /* Centraliza os ícones horizontalmente */
}

.footer-social ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-social a {
    color: #f39c12; /* Mantém a cor dos ícones de redes sociais */
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease; /* Efeito de transição de cor suave */
}

/* Estilização para ícones de redes sociais no hover */
.footer-social a:hover {
    color: #e74c3c; /* Cor alternativa no hover */
}

/* Styling for the banner image */
.footer-banner img {
    width: 150px; /* Ajusta a largura conforme necessário para tornar o banner menor */
    height: auto; /* Mantém a proporção */
    display: block;
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

/* Estilos para o modal de confirmação de cookie */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modal h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.modal p {
    font-size: 16px;
    margin-bottom: 20px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

.link-branco {
    color: white;
    text-decoration: none; /* Remove sublinhado padrão */
}

.link-branco:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse sobre o link */
}

/* Estilos para telas menores (exemplo) */
@media screen and (max-width: 768px) {
    /* Outros estilos para telas menores aqui */
}

/* Estilos para telas com largura máxima de 480px */
@media screen and (max-width: 480px) {
    /* Outros estilos para telas ainda menores aqui */
}
